body {
    font-family: Rubik, sans-serif;

}

.menu-container {
    width: 40%;
    height: 100%;
    position: absolute;
    padding: 1em;
}

#map {
    width: 60%;
    height: 100%;
    position: fixed;
    right: 0;
    bottom: 0;
}

.bold {
    font-weight: bold;
}

.filter-category {
    font-size: 16px;
    font-weight: 500;
}

.filter {
    margin-bottom: 10px;
}

.area-filter {
    border: 1px solid black  !important;
}

.button-group {
    margin: 5px 0px;
}

.form-row {
    margin-bottom: 10px;
}

.dropdown-menu {
    padding: 5px 10px !important;
}

form {
    margin-bottom: 10px !important;
}


.description {
    display: none;
    color: #777;
}


.red {
    color: red;
}

.hidden {
    display: none;
}
  
.clear {
    opacity: 0;
}

